.bg-disney {
  background: linear-gradient(90deg, #054e5eff, #051a2aff);
}

.dashboard-h1 {
  display: inline-block;
  background: linear-gradient(90deg, #054e5e, #051a2a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  padding-bottom: 3px;
  font-size: 50px;
  font-weight: 800;
}

.dashboard-card {
  width: 100%;
  max-width: 700px;
  border-radius: 20px;
}
