@if (isLoading()) {
  <p>Cargando métricas...</p>
}

@else if (error()) {
  <p style="color: red;">
    {{ error() }}
  </p>
}

@else if (metrics().length === 0) {
  <p>No hay métricas para mostrar.</p>
}

@else {
  <div>
    @for (metric of metrics(); track $index) {
      <p>
      <strong>Último login:</strong>
      @if (metric.last_login) {
        {{ metric.last_login | date:'dd/MM/yyyy HH:mm' }}
      } @else {
        —
      }
    </p>
    <p>
      <strong>Cantidad de logins:</strong>
      {{ metric.login_count }}
    </p>

    }
  </div>
}
